@import "tailwindcss";

.nav-link {
    position: relative;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f472b6; /* Tailwind's pink-600 */
    transition: width 0.3s ease-in-out;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  .nav-link:not(.active-link):hover::after {
    width: 100%;
  }